body {
    background-image: linear-gradient(45deg, #7e563c, #9e6843, #be7a4a, #e08c51);
    margin: 0;
    padding: 0;
}
div {
    display: flex;
    flex-direction: column;
}
ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
li {
    background-color: rgb(207, 193, 163);
    margin: 1.5rem;
    height: 15rem;
    width: 15rem;
    border: 1px solid rgba(105, 65, 32, 0.8);
    border-radius: 5%;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Aggiungi la transizione sia per la trasformazione che per il box-shadow */
}

li:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
}



li img {
    width: 100%;
    height: 80%;
    object-fit: cover;
}
p {
    font-size: 1.5rem;
    font-weight: 600;
}

h1 {
    color: white;
    font-size: 4rem;
    background-color:#774826;
    height: 11vh;
}